

.dhx_cal_event_line {
	background-color: #4caf50;
}

.dhx_cal_navline .dhx_cal_date {
	color: #bbbbbb;
}

.dhx_cal_today_button {
	color: #000;
}

.dhx_cal_header div div {
	color: #000;
}

.dhx_matrix_scell {
	color: #000;
}
#my_form2 {
	height: 500px;
}
#my_form2 label{
	color: #000;
}

#my_form2 .list {
	margin-top: 30px;
}

#my_form2 .add-item-to-checklist {
	background: #ff5617;
	color:white;
	cursor: pointer;
	padding: 1px 12px 1px 12px;
	font-size: 20px;
	font-weight: bold;
}

#my_form2 .remove-item-to-checklist {
	background: #D7DADB;
	color:white;
	cursor: pointer;
	padding: 1px 12px 1px 12px;
	font-size: 20px;
	font-weight: bold;
}
#my_form2 .checklist .form-control{
	width: 400px;
}

#my_form2 .checklist{
	margin-bottom: 30px;
}

#my_form2 .cerrar{
	float: right;
    font-size: 30px;
    margin-top: -30px;
    margin-right: -30px;
    color: #A9B4B8;
    cursor: pointer;
}

#my_form2 .checklist .btn{
	background: #ff5617;
	color: white;
}

/*Form Event*/

#eventForm {
	height: 170px;
}
#eventForm label{
	color: #000;
}

#eventForm .list {
	margin-top: 30px;
}

#eventForm .add-item-to-checklist {
	background: #ff5617;
	color:white;
	cursor: pointer;
	padding: 1px 12px 1px 12px;
	font-size: 20px;
	font-weight: bold;
}

#eventForm .remove-item-to-checklist {
	background: #D7DADB;
	color:white;
	cursor: pointer;
	padding: 1px 12px 1px 12px;
	font-size: 20px;
	font-weight: bold;
}
#eventForm .checklist .form-control{
	width: 520px;
}

#eventForm .checklist{
	margin-bottom: 30px;
}

#eventForm .cerrar{
	float: right;
    font-size: 30px;
    margin-top: -30px;
    margin-right: -30px;
    color: #A9B4B8;
    cursor: pointer;
}

#eventForm .checklist .btn{
	background: #ff5617;
	color: white;
}

.list-visit-states-labels
{
	font-size: 12px;
	color: #8F8D9A;
}

.list-visit-states-labels li
{
	margin-left: 10px;
	width: 100px;
	text-align: center;
}


.list-visit-states-labels .done
{
	border-bottom: #3F51B5 solid 5px;
}

.list-visit-states-labels .scheduled
{
	border-bottom: #8E24AA solid 5px;
}

.list-visit-states-labels .rescheduling-request
{
	border-bottom: #00BCD4 solid 5px;
}